.inner {
    width: 1440px;
    margin: auto;
}

.header-top {
    display: flex;
    justify-content: flex-end;
}

.utill {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding-right: 8px;
}

.utill li { 
    padding: 10px;
}

.logo {
    width: 272px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 38px;
}

.search-box {
    width: 560px;
    height: 45px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    border: none;
    width: 470px;
    height: 45px;
    font-size: 16px;
    color: #333;
}

#search:focus {
    outline: none;
}

.mic-icon, .search-icon {
    width: 45px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
}

.apps-icon {
    position: relative;
}

.apps-list.on {
    display: flex;
}

.apps-list {
    width: 328px;
    height: 448px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 14px;
    position: absolute;
    top: 45px;
    right: 0;
    overflow: auto;
    display: none;
}

.apps-box {
    width: 84px;
    height: 84px;
}

.apps-box a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apps-box a p {
    font-size: 14px;
    color: #202124;
}

.apps-thumb {
    width: 54px;
    height: 54px;
    font-size: 0;
    margin-bottom: 10px;
}

.account {
	background: url('../img/goole-icon.png') no-repeat -10px -2908px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.sear {
	background: url('../img/goole-icon.png') no-repeat -10px -2356px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.map {
	background: url('../img/goole-icon.png') no-repeat -16px -492px;
    background-size: auto 3100px;
	width: 32px;
	height: 47px;
}
.youtube {
	background: url('../img/goole-icon.png') no-repeat -7.5px -2637px;
    background-size: auto 3100px;
	width: 48.5px;
	height: 34px;
    margin-top: 10px;
}
.play {
	background: url('../img/goole-icon.png') no-repeat -13px -217px;
    background-size: auto 3100px;
	width: 39.5px;
	height: 44px;
}
.news {
	background: url('../img/goole-icon.png') no-repeat -10px -1325px;
    background-size: auto 3100px;
	width: 44px;
	height: 36px;
    margin-top: 10px;
}
.gmail {
	background: url('../img/goole-icon.png') no-repeat -10px -2016px;
    background-size: auto 3100px;
	width: 44px;
	height: 33px;
}
.meet {
	background: url('../img/goole-icon.png') no-repeat -10px -704px;
    background-size: auto 3100px;
	width: 44px;
	height: 36px;
}
.chat {
	background: url('../img/goole-icon.png') no-repeat -13px -1669px;
    background-size: auto 3100px;
	width: 38px;
	height: 40px;
}
.call {
	background: url('../img/goole-icon.png') no-repeat -10px -2908px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.drive {
	background: url('../img/goole-icon.png') no-repeat -10px -2979px;
    background-size: auto 3100px;
	width: 44px;
	height: 39px;
}
.calender {
	background: url('../img/goole-icon.png') no-repeat -13px -2566px;
    background-size: auto 3100px;
	width: 38px;
	height: 38px;
}
.trans {
	background: url('../img/goole-icon.png') no-repeat -10px -1942px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.photo {
	background: url('../img/goole-icon.png') no-repeat -10px -2839px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.duo {
	background: url('../img/goole-icon.png') no-repeat -10px -2494px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}
.shop {
	background: url('../img/goole-icon.png') no-repeat -13px -82px;
    background-size: auto 3100px;
	width: 38.5px;
	height: 38px;
}
.account {
	background: url('../img/goole-icon.png') no-repeat -10px -2908px;
    background-size: auto 3100px;
	width: 44px;
	height: 44px;
}